.divider {
    width: 100%;
    height: 12px;
    background: url('./img/divider-line-brown.svg') center / contain no-repeat;
}

.line-teal {
    background-image: url('./img/divider-line-teal.svg');
}

.line-white {
    background-image: url('./img/divider-line-white.png');
}

.line-yellow {
    background-image: url('./img/divider-line-yellow.svg');
}

.wave-yellow {
    background-image: url('./img/wave-yellow.svg');
}
